.swiper__container {
  /* width: 500px; */
  /* width: 100%; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 360px;
}
.swiper__container a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  background: var(--dg-2);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  margin-top: 10px;
  font-size: 0.75rem;
  transition: 0.3s ease-in-out;
}
.swiper__wrapper {
  width: 100%;
}
.swiper__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.swiper-cap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform .3s ease-in-out;
}
.swiper-slide div:nth-child(2) {
  position: absolute;
  bottom: 20px;
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.5s, opacity .5s ease-in-out;
}
.swiper-slide-active div:nth-child(2) {
  position: absolute;
  left: 5%;
  bottom: 20px;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
/* .swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("1.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("2.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("3.jpg") no-repeat 50% 50% / cover;
} */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.swiper__slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.4;
  margin-top: 10px;
  /* text-transform: uppercase; */
  /* text-align: center; */
}
@media (hover:hover) {
  .swiper-slide-active a:hover {
    background-color: #005baa;
    color: #fff;
  }
  .swiper-slide-active div:nth-child(2):hover ~ .swiper-cap {
    background-color: hsla(173, 81%, 27%, 0.8);
    transform: translateY(0%);
  }
}
.swiper__slide img {
  /* display: block; */
  border: 2px solid transparent;
  width: 100%;
  border-radius: .6rem;
  aspect-ratio: 10/5.8;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  transition: border .5s ease-in;
}
.swiper-slide-active img {
  border: 2px solid rgb(81, 234, 195);
}
.swiper__pagination {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  /* bottom: 34px !important; */
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-button-prev {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.297);
}
.swiper-button-next {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.297);
}
.swiper-button-prev::after {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.swiper-button-next::after {
  color: white;
  font-size: 1rem;
  font-weight: 900;
}

@media (max-width: 1039px) {
  .swiper__wrapper {
    width: 100%;
    margin-top: 40px;
    padding: 0 25%;
  }
}
@media (max-width: 992px) {
  .swiper__wrapper {
    padding: 0 18%;
    margin-top: 0;
  }
}
@media (max-width: 768px){
  .swiper__wrapper {
    padding: 0 9%;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .swiper__container {
    flex: 1 0 200px;
  }
  .swiper__wrapper {
    padding: 0 0;
  }
}