.nav {
    position: relative;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: var(--bg-color-navbar);
    /* background-color: var(--bg-color-2); */
    /* background-color: var(--dg-2); */
    transition: background-color .3s ease-in-out;
}
/* .nav::after {
  content: '';
  position: absolute;
  right: 0;
  left: -32%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 25px 100%;
  background-image: linear-gradient(135deg, var(--bg-color-2) 25%, transparent 25%), linear-gradient(225deg, var(--bg-color-2) 25%, transparent 25%);
  background-position: 0 0;
  transition: linear-gradient .3s ease-in-out;
} */
.nav__logo {
    width: 150px;
}
.nav__logo img {
    width: 100%;
    cursor: pointer;
}
.nav__list {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    font-weight: 500;
}
.nav__list li {
    list-style: none;
    padding: .5em 0em;
}
.nav__list li a {
    font-size: 0.875rem;
    color: var(--text-color-default);
    text-decoration: none;
    font-weight: 600;
}
.nav__list li:nth-child(4) a {
    color: white;
    text-decoration: none;
}
.nav__list .nav__list-link--box {
    background-color: var(--bg-7);
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
@media (hover:hover) {
    .nav__list li:not(:nth-last-child(-n+2)) a:hover {
        color: var(--dg-3);
    }
    .nav__list .nav__list-link--box:hover {
        background-color: #019D91;
    }
}
@media (max-width: 768px){
    .nav__list li a {
        font-size: .875rem;
    }
    .nav {
        padding: 1em 1em;
    }
    .nav__logo {
        width: 120px;
    }
}
@media (max-width: 576px) {
    .nav {
        padding: 1em 1em;
    }
    .nav__list  li:not(:last-child) {
        display: none;
    }
    .nav__logo {
        width: 120px;
    }
}
