/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Poppins:wght@200;300;400;500;600&family=Roboto+Flex:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600"); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
#root {
  /* width: 100%; */
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* background: url(../src/assets/images/header.svg) bottom center / contain no-repeat; */
  /* background: url(../src/assets/images/wave.svg) bottom center / contain no-repeat; */
}
p {
  max-width: 75ch;
}
:root {
  /* fonts  color*/
  --text-color-default: #e5e7eb;
  --subtext-color: #c1c7cf;
  --text-color-default2: #868e96;
  --text-color-1: #030507;
  --text-color-2: #e5e7eb;
  --text-color-3: #343a40;
  --text-color-4: #495057;
  --text-highlight: rgb(94 234 212);
  --text-2: #009efa;
  --text-3: #00d2fc;
  --text-4: #4ffbdf;
  --text-5:#00a48e;

  /* background color */
  --bg-color: #0f172a;
  --bg-color-df: #24252d;
  --bg-color-alt: #0e141b;
  --bg-color-alt2: #16191d;
  --bg-color-df-2: #212529;
  --bg-color-header: #272731;
  --bg-color-navbar: hsla(214, 14%, 10%, 0.8);
  --bg-color-input: #2d3034;

  --bg-c-highlight: rgba(45, 212, 191, 0.1);
  --bg-color-1: #464658;
  --bg-color-2: #333342;
  --bg-color-decor: #868e96;

  /* paleta de colores 1 */
  --paleta-light-lila: #845ec2;
  --paleta-dark-lila: #4b4453;
  --paleta-gray: #b0a8b9;
  --paleta-dark-green: #00896f;
  --paleta-light-green: #00c0a3;

  /* paleta de degradado */
  --dg-1: #845ec2;
  --dg-2: #009efa;
  --dg-3: #00d2fc;
  --dg-4: #4ffbdf;
  --dg-6: #3b6896;
  --bg-7: #00c1a2;

  /* OTRAS PALETAS  */
  --check: #0079ff;
  --pass: #00dfa2;
  --warn: #f6fa70;
  --error: #ff0060;

  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;
}
[data-theme="light"] {
  --text-black:#030507;
  --text-color-default: #334155;
  --subtext-color: #334155;
  --text-color-2: #334155;
  --bg-black:#ced4da;
  --bg-color-1: #f1f3f5;
  --bg-color-2: #ced4da;
  /* --bg-color-alt2: #f8f9fa; */
  --bg-color-alt2: #ededed;
  --bg-color-navbar: hsla(210, 17%, 98%, 0.8);
  /* --bg-color-df-2: #f1f3f5;
  --bg-color-df-2: #ebedee; */
  --bg-color-df-2: #dee2e6;
  --bg-color-decor: #d3dce5;
  --bg-color-input: #f9fafb;
  --scrollbar: #f0f0f0;
  --scrollbar-thumb: #ccc;
  --scrollbar-thumb-vertical: #bbb;
  --text-color-profession: var(--text-5);
  color-scheme: light;
}

[data-theme="dark"] {
  --text-black:#f8f9fa;
  --text-color-default: #e5e7eb;
  --subtext-color: #c1c7cf;
  --text-color-2: #e5e7eb;
  --bg-black:#0d0f12;
  --bg-color-1: #464658;
  --bg-color-2: #333342;
  --bg-color-alt2: #16191d;
  --bg-color-navbar: hsla(216, 16%, 6%,.8);
  --bg-color-df-2: #212529;
  --bg-color-decor: #868e96;
  --bg-color-input: #2d3034;
  --scrollbar: #333;
  --scrollbar-thumb: #666;
  --scrollbar-thumb-vertical: #555;
  --text-color-profession: var(--text-3);
  color-scheme: dark;
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    background-color: var(
      --scrollbar
    );
    transition: background-color .3s ease-in-out;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(
      --scrollbar-thumb
    ); 
    transition: background-color .3s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:vertical {
    border: 2px solid var(--scrollbar-thumb-vertical);
    border-radius: 5px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Inter", sans-serif;
  /* font-family: "Manrope", sans-serif;
  font-family: 'Poppins', sans-serif; */
  background-color: var(--bg-color-alt2);
  color: var(--text-color-default);
  transition: background-color 0.3s ease-in-out, color 0.3s;
  /* transition: var(--transition-duration, 0.3s ) background-color, var(--transition-duration, 0.3s) color; */
}

/* .dark-mode {
  --text-color-default: #334155;
  --subtext-color: #334155;
  --text-color-2: #334155;
  --bg-color-alt2: #F3F6F8;
  --bg-color-alt2: #f8f9fa;
  --bg-color-navbar: hsla(210, 17%, 98%, 0.8);
  --bg-color-header: #2422a6;
  --bg-color-df-2: #f1f3f5;
  --bg-color-df-2: #ebedee;
  --bg-color-decor: #d3dce5;
  --bg-color-input: #f9fafb;
} */
/* * {
  transition: ease-in-out 0.3s;
  transition-property: background-color;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
